body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	background-color: #77c2ff;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
}

/* Main search CSS */

.search {
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1500px;
}

.search_input {
	display: flex;
	align-items: center;
	background-color: white;
	height: 35px;
	margin: 5px;
}

.search_input input {
	outline: none;
	border: 0;
	background-color: white;
	font-size: 1.2rem;
}

.search_input input:first-child {
	padding-left: 5px;
}

.search_input input:last-child {
	border-left: solid black 1px;
	height: 35px;
}

#url {
	width: 400px;
	height: 30px;
	box-sizing: border-box;
}

.search-btns {
	margin: 5px;
	list-style: none;
	display: flex;
}

.search ul {
	padding: 0;
}

.search-btns__btn {
	font-size: 1.1rem;
	outline: none;
	border: 0;
	background-color: rgb(0, 0, 0, 0.1);
	height: 40px;
}

#size {
	color: white;
	padding: 5px;
	margin: 5px;
	background-color: rgba(0, 0, 0, 0.4);
}

.search-btns__btn:hover,
.search-btns__btn:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

li {
	margin: 0px 5px;
	display: flex;
}

/* Iframe CSS */

#iframe-container {
	margin: 10px;
}

iframe {
	width: 100%;
	height: 100%;
}
